@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Lexend:wght@400;500;700&family=Open+Sans:wght@400;500;700&family=Lato:wght@400;500;700&family=Poppins:wght@400;500;700&family=Nunito:wght@400;500;700&family=Merriweather:wght@400;700&family=Source+Sans+3:wght@400;500;700&family=Atkinson+Hyperlegible:wght@400;700&family=Comic+Neue:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
}

/* Font Family Classes */
.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-lexend {
  font-family: 'Lexend', sans-serif;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-sourcesans {
  font-family: 'Source Sans 3', sans-serif;
}

.font-atkinson {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.font-comic {
  font-family: 'Comic Neue', cursive;
}

